{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Об авторе</h1>
<div class="row mt-4">
    <div class="col-md-5 mb-3">
        <img src="{{ image }}" style="width: 100%; height: 100%" alt="Author"/>
    </div>
    <div class="col-md-7">
        <p>
            {{ text }}
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates velit consequatur eum unde hic fugiat aut vero aspernatur tempora nobis odio, mollitia iste maiores libero nisi blanditiis consectetur quibusdam cumque!
        </p>
    </div>
</div>
{% endblock %}